body {
	margin: 0 auto;
}

.flex {
	display: flex;
}
.jc-center {
	justify-content: center;
}
.ai-center {
	align-items: center;
}
.no-select {
	user-select: none;
}
.flex-full-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	font-family: "system-ui";
}
